body {
    margin: 0;
}
.all-product {
    background: #FFFFFF;
    width: 100%;
    padding-bottom: 50px;
}
.product-new a {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.title-product {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    padding-top: 37px;
}
.product-new {
    padding: 0px 27px;
    padding-bottom: 10px;
    margin: 0px 5px;
}
.see-more {
    position: relative;
    width: 234.14px;
    height: 40px;
    border: 1px solid;
    background: #ffffff;
    border: 1px solid #ee2e24;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    margin: auto;
}
.see-more a {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ee2e24;
    text-decoration: none;
}
.see-more:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 9px;
    background-image: url(../image/Button/button-see-more.svg);
    right: 20px;
    top: 35%;
    transition: 0.5s;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.product-new.product-active {
    border-bottom: 3px solid #ee2e24;
}
.list-product {
    border-top: 1px solid rgba(249, 155, 42, 1);
    position: relative;
    overflow: hidden;
}
.name-product p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
}
.price {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #EE2E24;
}
.see-more-product {
    margin-top: 40px;
}
.see-more:hover:before {
    right: 15px;
    transition: 0.5s;
}
.all-product  .swiper-button-next, .all-product  .swiper-rtl .swiper-button-prev {
    background: #F99B2A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 40px;
    width: 40px;
    top: 44%;
}
.all-product  .swiper-button-next:after, .all-product  .swiper-rtl .swiper-button-prev:after {
    height: 22px;
    width: 12px;
    content: '';
    position: absolute;
    background-image: url(../image/Line.png);
    background-repeat: no-repeat;
    transform: rotate(-180deg);
}
.all-product  .swiper-button-prev:after, .all-product  .swiper-rtl .swiper-button-next:after {
    height: 22px;
    width: 12px;
    content: '';
    position: absolute;
    background-image: url(../image/Line.png);
    background-repeat: no-repeat;
    transform: rotate(0deg);
}
.all-product  .swiper-button-prev, .all-product  .swiper-rtl .swiper-button-next{
    background: #F99B2A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 40px;
    width: 40px;
    top: 44%;
}
.img-product img {
    width: 100%;
    object-fit: cover;
    max-height: 278px;
}
.product-new:hover a {
    color: #ee2e24;
}
.product-new.product-active a {
    color: #ee2e24;
}
.product-new:hover {
    border-bottom: 3px solid #ee2e24;
}
@media(max-width:991px){

.title-product {
    flex-wrap: wrap;
    text-align: center;
}
.product-new {
    width: 100%;
    padding-bottom: 20px;
}
.product-new a {
    font-size: 16px;
}
.see-more a {
    font-size: 12px;
}
.price {
    font-size: 14px;
}
.name-product p {
    font-size: 14px;
}
.all-product .swiper-button-next, .all-product .swiper-rtl .swiper-button-prev {
    height: 30px;
    width: 30px;
    right: 0;
}
.all-product  .swiper-button-prev, .all-product  .swiper-rtl .swiper-button-next{
    height: 30px;
    width: 30px;
    left: 0;
}


}